
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font:100%/1.5em "Montserrat",sans-serif;
    color: #222;
    background: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #d9b01a;
}

.logo {
  background: url('../images/logo-v2.png') no-repeat 0 0;
  display: block;
    height: 72px;
    width: 260px;
    float: left;
    transition: background-position 0.3s ease 0.01s;
}

.header-shrink a.logo:hover {
  background-position: 3pt -53pt;
}

.header-shrink .logo {
  background: url('../images/logo-v2.png') no-repeat 0 -53pt;
  width: 100px;
  transition: background-position 0.2s ease 0.0s;
}

.header-inner {
  padding: 14px 5%;
}

.container > header {
  background: #674099;
  margin: 0 auto;
    position: fixed;
    width: 100%;
  z-index: 9;
  text-align: center;
  transition: height 0.3s ease 0s;
  height: 100px
}

.container > .header-shrink {
  height: 70px;
  opacity: 0.9;
}

.nav {
  float: left;
  display: block;
  font-size: 13px;
  margin: 22px 0 0 80px;
  transition: margin 0.2s ease 0s;
}

.header-shrink .nav {
  margin: 10px 0
} 

.nav ul {
  margin: 0;
  padding: 0
}

.nav ul li {
  display: inline;
  list-style: none;
}

.nav ul li a {
  margin: 0 13px;
}

.sub-nav {
  float: right;
  margin: 13px 0;
  transition: margin 0.2s ease 0s;
}

.sub-nav > .login {
  margin: 0 0 0 10px;
    padding: 7px 12px;
}

.header-shrink .sub-nav {
  margin: 0
} 

.container > header > a {
  display: block;
  position: relative;
  z-index: 9999;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  padding: 0 0 0.6em 0.1em;
  color: #555;
  width: 20%;
}
