@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html { background: #fff }


*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font:100%/1.5em "Montserrat",sans-serif;
    color: #222;
    background: #fff;
}

em {
    font-style: italic;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #d9b01a;
}

.fl {
  float: left;
}

.clear {
  clear: both;
}

.center { padding: 2em; }

h1,h2 {font-weight:700;}

h2 {
  text-transform: uppercase;
}

.btn {
  border: none;
  font-family: inherit;
  font-size: 0.8em;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

/* Button 4 */
a.btn-purp {
  border-radius: 2px;
  border: 3px solid #674099;
  color: #674099;
  overflow: hidden;
}

.btn-purp:active {
  border-color: #B93735;
  color: #A82D2B;
}

.btn-purp:hover {
  background: #674099;
  color: #fff;
}

.btn-purp:before {
  position: absolute;
  height: 100%;
  font-size: 125%;
  line-height: 3.7;
  color: #ec6f6d;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-purp:active:before {
  color: #A82D2B;
}





a.btn-wht {
  border-radius: 2px;
  border: 3px solid #fff;
  color: #fff;
  overflow: hidden;
}

.btn-wht:active {
  border-color: #B93735;
  color: #A82D2B;
}

.btn-wht:hover {
  background: #fff;
  color: #333;
}

.btn-wht:before {
  position: absolute;
  height: 100%;
  font-size: 125%;
  line-height: 3.7;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-wht:active:before {
  color: #A82D2B;
}




.btn-gold {
  background: none repeat scroll 0 0 #D9B01A;
    border-radius: 2px;
    overflow: hidden;
}

.btn-gold:active {
  border-color: #EC6F6D;
  color: #A82D2B;
}

.btn-gold:hover {
  background: #d9b01a;
  color: #fff
}

.btn-gold:before {
  position: absolute;
  height: 100%;
  font-size: 125%;
  line-height: 3.5;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-gold:active:before {
  color: #A82D2B;
}

.btn-c:hover:before {
  left: 80%;
  opacity: 1;
}

-----------------------------------------------*/
form {
  margin-bottom: 1em;
  .border-radius;
  max-width: 400px;
  //margin: 0 auto;
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }
}

.field-wrapper {
  display: block;
  position:relative;
  margin-bottom: 0.25em;
}

.field-inline {
  display: inline;
  margin: 0 1em 0.25em 0;
  position: relative;
}

::-webkit-input-placeholder {
   color: #ddd;  
}

label.float-label {
    position:absolute;
    top:-13px;
    left:0;
    font-size:12px;
    color: #ddd;
    .transition;
    opacity:0;
    font-weight:bold;
}

label.float-label.on {
    color: #ddd;
}

label.float-label.show {
    top: -35px;
    opacity: 1;
}

select, textarea, input[type="text"], input[type="password"], input[type="file"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .faux-file {
  display: inline-block;
  padding: 0 .4em 0 .4em;
  padding: .5em;
  vertical-align: middle;
  .border-radius;
  min-width: 50px;
  max-width: 550px;
  .transition;
}

textarea, input[type="text"], input[type="password"], input[type="file"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .faux-file {
  width: 100%;
  border: 0 none;
  min-height: 39px;
  opacity: 0.8;
}

textarea:hover, input[type="text"]:hover, input[type="password"]:hover, input[type="file"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="date"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="color"]:hover, .uneditable-input:hover, .faux-file:hover {
  opacity: 1;
  border: 0 none;
}

textarea:active, input[type="text"]:active, input[type="password"]:active, input[type="file"]:active, input[type="datetime"]:active, input[type="datetime-local"]:active, input[type="date"]:active, input[type="month"]:active, input[type="time"]:active, input[type="week"]:active, input[type="number"]:active, input[type="email"]:active, input[type="url"]:active, input[type="search"]:active, input[type="tel"]:active, input[type="color"]:active, .uneditable-input:active, .faux-file:active {
    outline: none;
    opacity: 1
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus, .faux-file:focus {
    border: 2px solid 
    outline: none;
    opacity: 1
}

input, 
textarea {
  -webkit-appearance:none;
  curser: pointer;
  font-size: 0.9em;
}

textarea{
    height: 150px;
}

input[type=submit] {
    .btn;
    .btn-big;
    border: none;
    cursor: pointer;
}

/*RADIO/CHECKBOX*/
input[type="radio"] + label,
input[type="checkbox"] + label {
  color: #333;   
  font-size: 1em;
  curser: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  position:absolute;
  opacity:0;
  curser: pointer;
  .transition;

  &:hover, &:focus, &:hover + label, &:focus + label {
    border-color: #ddd;
    color: #ddd;
  }

  &:checked + label {
    color: black;
    position:relative;
  }
}

input[type="radio"] + label::before {
  content: '';
  width: 1em;
  height: 1em;
  margin-right: 0.125em;
  position: relative;
  top: 0.4em;
  display: inline-block;
  background-color: transparent;
  border-radius: 2em;
  border: 4px solid #ddd;
}

input[type="checkbox"] + label::before {
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 0.125em;
  position: relative;
  top: 0.25em;
  display: inline-block;
  background-color: #ddd;
  border-radius: 5px;
}

input[type="checkbox"]:checked + label::after {
  content: '?';
    display: block;
    position: absolute;
    top: 0;
    left: 4px;
    width: 10px;
    height: 10px;
    color: #fff;
}

input[type="radio"]:checked + label::before {
  border-color: #ddd;
}

input[type="radio"]:checked + label::after {
  content: '';
  width: .75em;
  height: .75em;
  position: absolute;
  top: .35em;
  left:.4em;
  display: inline-block;
  background-color: #ddd;
  border-radius: 2em;
}

.logo {
  background: url('../images/logo-v2.png') no-repeat 0 0;
  display: block;
    height: 72px;
    width: 260px;
    float: left;
    transition: background-position 0.3s ease 0.01s;
}

.header-shrink a.logo:hover {
  background-position: 3pt -53pt;
}

.header-shrink .logo {
  background: url('../images/logo-v2.png') no-repeat 0 -53pt;
  width: 100px;
  transition: background-position 0.2s ease 0.0s;
}

.main {
     margin: 0px auto;
     padding: 1em;
     width: 90%;
}

.header-inner {
  padding: 14px 5%;
}

.container > header {
  background: #674099;
  margin: 0 auto;
    position: fixed;
    width: 100%;
  z-index: 9;
  text-align: center;
  transition: height 0.3s ease 0s;
  height: 100px
}

.container > .header-shrink {
  height: 70px;
  opacity: 0.9;
}

#content {
  
}

#content h1 {
    color: #FFFFFF;
    font-size: 3.7em;
    font-weight: 900;
    line-height: 1;
}

.nav{
  float: left;
  display: block;
  font-size: 13px;
  margin: 22px 0 0 80px;
  transition: margin 0.2s ease 0s;
}

.header-shrink .nav {
  margin: 10px 0
} 

.nav ul {
  margin: 0;
  padding: 0
}

.nav ul li {
  display: inline;
  list-style: none;
}

.nav ul li a {
  margin: 0 13px;
}

.sub-nav {
  float: right;
  margin: 13px 0;
  transition: margin 0.2s ease 0s;
}

.sub-nav > .login {
  margin: 0 0 0 10px;
    padding: 7px 12px;
}

.header-shrink .sub-nav {
  margin: 0
} 

.title h2 {
  font-size: 0.3em;
}

.hero {
  left: 140px;
    margin: 0 auto;
    position: absolute;
    top: 180px;
}

.hero h1 {
  text-shadow: 0 1px 5px #333333
}

audio, canvas, video {
    display: inline-block;
}

video {
    min-height: 560px;
    position: relative;
    top: 7px;
    z-index: 0;
}

.callout {
  opacity: 0.80;
  width: 1280px;
}

.nav_post {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav_post li {
    float: left;
    width: 25%;
    list-style: none outside none;
    position: relative;
}
.nav_post a {
    display: block;
}

.best {
  position: absolute;
  top: 0;
  left: 245px
}
.btn_left, .btn_right, .btn_all, .btn_empty {
    background: #222;
    border-right: 1px solid #555;
    color: #FFFFFF;
    display: block;
    font-size: 1.8em;
    height: 112px;
    padding: 0.8em 1em 1em 1.9em;
    position: relative;
    transition: all 0.3s ease 0s;
}
.btn_empty {
    background: none repeat scroll 0 0 #DDDDDD;
}
.btn_left span, .btn_right span {
    background: none repeat scroll 0 0 #AAAAAA;
    display: block;
    height: 140px;
    line-height: 140px;
    position: absolute;
    top: 100%;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.btn_left:hover span, .btn_right:hover span {
    color: #F2F2F2;
    top: 0;
}
.btn_left:before, .btn_right:before, .btn_all:before {

    display: block;
    font: 2.2em/140px 'boyero';
    height: 140px;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.btn_right:before {
    
}
.btn_all:before {
    
}
.btn_left:hover:before, .btn_right:hover:before {
    color: #fff;
    top: -100%;
}
.btn_all:hover, .btn_all:hover:before {
    background: none repeat scroll 0 0 #333;
    color: #fff;
}

.note {
    font-size: 0.5em;
    font-style: normal;
    font-weight: lighter;
    line-height: 18px;
    margin-top: 5px;
}

.section-gry {
  background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    color: #222222;
    padding: 1.2em;
    text-align: center;
  
}

.section-gry h2 {
  font-size: 14px;
    font-weight: normal;
  
}

.container > header > a {
  display: block;
  position: relative;
  z-index: 9999;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  padding: 0 0 0.6em 0.1em;
  color: #555;
  width: 20%;
}



@media screen and (max-width: 55em) {

  .container > header {
    padding-bottom: 1.875em;
  }
  
  .container > header h1,
  .container > header nav {
    float: none;
  }

  .container > header > span,
  .container > header h1 {
    text-align: center;
    width: 100%;
  }

  .container > header > span {
    text-indent: 30px;
  }
}

.title {
  background: none repeat scroll 0 0 #FFFFFF;
    color: #555555;
    font-size: 5em;
    line-height: 0.8;
    padding: 1.6em 0.4em 1.6em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
}

.inner-title h2 {
  font-family: "PT Sans",sans-serif;
  font-size: 3em;
    line-height: 1.4;
}

.feature-sec {
  background: #222;
  color: #fff;
  text-align: center;
  padding-bottom: 5%;
}

.feature-sec-hlder {
  color: #DDDDDD;
  padding: 50px;
}

.work-sec-hlder h1, .service-sec-hlder h1 {
  font-size: 4em;
  padding: 2em 0 1em;
}

.service-sec-hlder h1 {
  color: #FFFFFF !important;
    text-align: center;
}

.feature-sec h2 {
    font-family: arial;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
}

a.link {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

a.link::before {
  position: absolute;
  top: 100%;
  left: 50%;
  color: transparent;
  content: '?';
  text-shadow: 0 0 transparent;
  font-size: 1.2em;
  -webkit-transition: text-shadow 0.3s, color 0.3s;
  -moz-transition: text-shadow 0.3s, color 0.3s;
  transition: text-shadow 0.3s, color 0.3s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}

a.link:hover::before,
a.link:focus::before {
  color: #fff;
  text-shadow: 10px 0 #fff, -10px 0 #fff;
}

a.link:hover,
a.link:focus {
  color: #ba7700;
}

/********* COMPONENTS ************/

.hawk-so-scroller {
  overflow: hidden;
}

h2.scroll-title {
  text-align: center;
  font-size: 21px
}
.hawk-so-section {
  background: #efefef;
}

/* Clear floats of children */
.hawk-so-section:before,
.hawk-so-section:after {
  content: " ";
  display: table;
}

.hawk-so-section:after {
  clear: both;
}

/* Text styling */
.hawk-so-section h2 {
  font-size: 4em;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    margin: 0;
}

.hawk-so-section p {
  font-size: 1em;
    line-height: 1.4;
}

/* Sides */
.hawk-so-side {
  width: 50%;
  float: left;
  margin: 0;
  padding: 5em 10% 4em;
  overflow: hidden;
  min-height: 12em;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  -moz-transition: -moz-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.hawk-so-side h3 {
  font-size: 2.4em;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 43px;
}

.hawk-so-side h3 span {
  font-size: 0.5em;
}

.hawk-so-side h4 {
  font-size: 2em;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 7px;
}

.hawk-so-side h4 span {
  font-size: 0.4em;
}

/* Clear floats of children */
.hawk-so-side:before,
.hawk-so-side:after {
  content: " ";
  display: table;
}

.hawk-so-side:after {
  clear: both;
}

.hawk-so-side-right {
  text-align: left;
}

.hawk-so-side-left {
  padding: 5em 6em 4em 9em;
}

.hawk-so-side-right img {
  float: left;
}

.hawk-so-side-left img {
  float: right;
}

/* Initial state (hidden or anything else) */
.hawk-so-init .hawk-so-side {
  opacity: 0;
}

.hawk-so-init .hawk-so-side-left {
  -webkit-transform: translateX(-80px);
  -moz-transform: translateX(-80px);
  transform: translateX(-80px);
}

.hawk-so-init .hawk-so-side-right {
  -webkit-transform: translateX(80px);
  -moz-transform: translateX(80px);
  transform: translateX(80px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.hawk-so-section.hawk-so-animate .hawk-so-side-left,
.hawk-so-section.hawk-so-animate .hawk-so-side-right {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

@media screen and (max-width: 73.5em) {
  #content {
    font-size: 65%;
  }

  .hawk-so-section h2 {
    margin: 0;
  }

  .hawk-so-side img {
    max-width: 120%;
  }
  
}

@media screen and (max-width: 55.1875em){

  .hawk-spmenu-horizontal {
    font-size: 75%;
  }

  .hawk-spmenu h3 {
    font-size: 1.5em
  }
  
  

  .hawk-spmenu-bottom {
    bottom: -110px;
  }
  .hawk-spmenu-push-toright {
    
  }

}

@media screen and (max-width: 41.125em) {
  .hawk-so-side {
    float: none;
    width: 100%;
  }

  .hawk-so-side img {
    max-width: 100%;
  }
  
  .top-title {
    font-size: 144%
  }
  
  .hawk-spmenu-horizontal h3 {
    float: none;
      height: 50%;
      padding: 30px 0 0 60px;
      width: 100%;
  }
}

@media screen and (max-height: 26.375em){

  .hawk-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }

  .hawk-spmenu-left,
  .hawk-spmenu-push-toleft {
    top: -190px;
  }

  .hawk-spmenu-right {
    right: -190px;
  }

  .hawk-spmenu-push-toright {
    top: 190px;
  }
  
}


.contact {
  float: left;
    padding: 30px 0 0 60px;
}

.contact p {
  
}

/* Transitions */

.hawk-spmenu,
.hawk-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer {
  background: #444;
  color: #fff;
  text-align: center;
}

.animation{
  animation: animationFrames ease 1s;
  animation-iteration-count: 1;
  transform-origin: ;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: ;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animationFrames ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: ;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: ;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: ;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
  0% {
    left:0px;
    top:0px;
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  40% {
    left:-282px;
    top:0px;
  }
  80% {
    left:-155px;
    top:1px;
  }
  100% {
    left:-154px;
    top:1px;
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    left:0px;
    top:0px;
    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  40% {
    left:-282px;
    top:0px;
  }
  80% {
    left:-155px;
    top:1px;
  }
  100% {
    left:-154px;
    top:1px;
    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    left:0px;
    top:0px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  40% {
    left:-282px;
    top:0px;
  }
  80% {
    left:-155px;
    top:1px;
  }
  100% {
    left:-154px;
    top:1px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    left:0px;
    top:0px;
    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  40% {
    left:-282px;
    top:0px;
  }
  80% {
    left:-155px;
    top:1px;
  }
  100% {
    left:-154px;
    top:1px;
    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    left:0px;
    top:0px;
    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  40% {
    left:-282px;
    top:0px;
  }
  80% {
    left:-155px;
    top:1px;
  }
  100% {
    left:-154px;
    top:1px;
    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}



.cbp-ig-grid {
     list-style: none outside none;
     margin: 0px;
     padding: 0px 0px 50px;
}

.cbp-ig-grid:before, .cbp-ig-grid:after {
     content: " ";
     display: table;
}

.cbp-ig-grid:after {
     clear: both;
}

.cbp-ig-grid li {
     border-top: 4px solid #47A3DA;
     float: left;
     height: 420px;
     text-align: center;
     width: 33%;
}

.cbp-ig-grid li:nth-child(-n+3) {
     border-top: medium none;
}

.cbp-ig-grid li:nth-child(3n-1), .cbp-ig-grid li:nth-child(3n-2) {
     box-shadow: 4px 0 0 #47A3DA;
}

.cbp-ig-grid li > a {
     color: #47A3DA;
     display: block;
     height: 100%;
     transition: background 0.2s ease 0s;
}

.cbp-ig-icon {
     display: block;
     padding: 30px 0px 0px;
     transition: transform 0.2s ease 0s;
}

.cbp-ig-icon:before {
     font-family: 'anyoldicon';
     font-size: 14em;
     font-style: normal;
     font-variant: normal;
     font-weight: normal;
     line-height: 1;
     text-transform: none;
}

.cbp-ig-icon-shoe:before {
     content: "?";
}

.cbp-ig-icon-ribbon:before {
     content: "?";
}

.cbp-ig-icon-milk:before {
     content: "?";
}

.cbp-ig-icon-whippy:before {
     content: "?";
}

.cbp-ig-icon-spectacles:before {
     content: "?";
}

.cbp-ig-icon-doumbek:before {
     content: "?";
}

.cbp-ig-grid .cbp-ig-title {
     font-size: 2em;
     margin: 20px 0px 10px;
     padding: 20px 0px 0px;
     position: relative;
     transition: transform 0.2s ease 0s;
}

.cbp-ig-grid .cbp-ig-title:before {
     background: none repeat scroll 0% 0% #47A3DA;
     content: "";
     height: 6px;
     left: 50%;
     margin: -10px 0px 0px -80px;
     position: absolute;
     top: 0px;
     transition: margin-top 0.2s ease 0s;
     width: 160px;
}

.cbp-ig-grid .cbp-ig-category {
     color: #FFFFFF;
     display: inline-block;
     font-size: 1em;
     letter-spacing: 1px;
     opacity: 0;
     text-transform: uppercase;
     transform: translateY(10px);
     transition: -moz-transform 0.3s ease 0s, opacity 0.2s ease 0s;
}

.cbp-ig-grid li:hover .cbp-ig-category, .touch .cbp-ig-grid li .cbp-ig-category {
     opacity: 1;
     transform: translateY(0px);
}

.cbp-ig-grid li > a:hover {
     background: none repeat scroll 0% 0% #47A3DA;
}

.cbp-ig-grid li > a:hover .cbp-ig-icon {
     transform: translateY(10px);
}

.cbp-ig-grid li > a:hover .cbp-ig-icon:before, .cbp-ig-grid li > a:hover .cbp-ig-title {
     color: #FFFFFF;
}

.cbp-ig-grid li > a:hover .cbp-ig-title {
     transform: translateY(-30px);
}

.cbp-ig-grid li > a:hover .cbp-ig-title:before {
     background: none repeat scroll 0% 0% #FFFFFF;
     margin-top: 80px;
}

@media screen and (max-width: 62.75em) {
  .cbp-ig-grid li { width: 50%; }
  .cbp-ig-grid li:nth-child(-n+3) { border-top: 1px solid #DDDDDD; }
  .cbp-ig-grid li:nth-child(3n-1), .cbp-ig-grid li:nth-child(3n-2) { box-shadow: none; }
  .cbp-ig-grid li:nth-child(-n+2) { border-top: medium none; }
  .cbp-ig-grid li:nth-child(2n-1) { box-shadow: 1px 0px 0px #DDDDDD; }
}

@media screen and (max-width: 41.6em) {
  .cbp-ig-grid li { width: 100%; }
  .cbp-ig-grid li:nth-child(-n+2) { border-top: 1px solid #DDDDDD; }
  .cbp-ig-grid li:nth-child(2n-1) { box-shadow: none; }
  .cbp-ig-grid li:first-child { border-top: medium none; }
}

@media screen and (max-width: 25em) {
  .cbp-ig-grid { font-size: 80%; }
  .cbp-ig-grid .cbp-ig-category { margin-top: 20px; }
}


.effeckt-page-active[data-effeckt-page] {
    display: block;
    visibility: visible;
    z-index: 10;
}


[data-effeckt-page] {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  visibility: hidden;
  z-index: 0;
  padding: 2rem 4rem 0;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  display: none; }
  [data-effeckt-page].effeckt-page-active {
    display: block;
    visibility: visible;
    z-index: 10; }
  [data-effeckt-page].effeckt-page-animating {
    overflow: hidden;
    z-index: 100;
    position: absolute; }

[data-effeckt-page].slide-from-left {
  animation: slideFromLeft 1000ms forwards ease-in-out; }

[data-effeckt-page].slide-to-left {
  animation: slideToLeft 1000ms forwards ease-in-out; }

[data-effeckt-page].slide-from-right {
  animation: slideFromRight 1000ms forwards ease-in-out; }

[data-effeckt-page].slide-to-right {
  animation: slideToRight 1000ms forwards ease-in-out; }


@keyframes slideFromTop {
  from {
    transform: translateY(-100%); } }

@keyframes slideToTop {
  to {
    transform: translateY(-100%); } }

@keyframes slideFromRight {
  from {
    transform: translateX(100%); } }

@keyframes slideToRight {
  to {
    transform: translateX(100%); } }


.page-on-top, [data-effeckt-page].scale-up-to-front.effeckt-page-animating, [data-effeckt-page].scale-down-from-front.effeckt-page-animating {
  z-index: 999; }

.animation-delay-100 {
  animation-delay: 0.1s; }

.animation-delay-200 {
  animation-delay: 0.2s; }

.animation-delay-300, [data-effeckt-page].scale-up-from-behind {
  animation-delay: 0.3s; }

.animation-delay-500 {
  animation-delay: 0.5s; }

.animation-delay-700 {
  animation-delay: 0.7s; }

.animation-delay-1000 {
  animation-delay: 1000s; }
  
  
  


.effeckt-toggle-demo {
     min-height: 220px;
}

[data-toggle-trigger] {
     margin-bottom: 20px;
}

.effeckt-modal {
     background: none repeat scroll 0% 0% white;
}

.effeckt-modal h3 {
     background: none repeat scroll 0% 0% #444444;
     color: white;
     padding: 1rem;
}

.effeckt-modal-content {
     padding: 1rem;
}

.effeckt-overlay {
     background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);
     z-index: 1000;
}

.effeckt-button {
     background: none repeat scroll 0% 0% #444444;
     border: 0px none;
     color: white;
     font-size: 1.3em;
     margin: 0px 0.25rem 0.6rem 0px;
     padding: 0.8rem 1rem;
     white-space: nowrap;
}

.effeckt-page-transition {
     background: none repeat scroll 0% 0% #555555;
     height: 100%;
     left: 0px;
     overflow: hidden;
     position: fixed;
     top: 0px;
     visibility: hidden;
     width: 100%;
     z-index: 1000;
}

.effeckt-page-transition-content {
     color: white;
     left: 50%;
     margin: -100px 0px 0px -100px;
     position: relative;
     top: 50%;
     width: 200px;
}


.og-grid {
  list-style: none;
  padding: 55px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.og-grid li {
  display: inline-block;
  vertical-align: top;
  height: 300px;
  margin: -5px
}

.og-grid li > a,
.og-grid li > a img {
  border: none;
  outline: none;
  display: block;
  position: relative;
}

.og-grid li.og-expanded > a::after {
  top: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #ddd;
  border-width: 15px;
  left: 50%;
  margin: -20px 0 0 -15px;
}

.og-expander {
  position: absolute;
  background: #ddd;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: 0;
  overflow: hidden;
}

.og-expander-inner {
  padding: 50px 30px;
  height: 100%;
}

.og-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.og-close::before,
.og-close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  height: 1px;
  background: #888;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.og-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
  background: #333;
}

.og-fullimg,
.og-details {
  width: 50%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.og-details {
  padding: 0 40px 0 20px;
}

.og-fullimg {
  text-align: center;
}

.og-fullimg img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}

.og-details h3 {
  font-weight: 300;
  font-size: 52px;
  padding: 40px 0 10px;
  margin-bottom: 10px;
}

.og-details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #999;
}

.og-details a {
  font-weight: 700;
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  border: 3px solid #333;
  display: inline-block;
  margin: 30px 0 0;
  outline: none;
}

.og-details a::before {
  content: '\2192';
  display: inline-block;
  margin-right: 10px;
}

.og-details a:hover {
  border-color: #999;
  color: #999;
}

.og-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

  .og-expander h3 { font-size: 32px; }
  .og-expander p { font-size: 13px; }
  .og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

  .og-fullimg { display: none; }
  .og-details { float: none; width: 100%; }
  
}


.bt-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-width: 0px;
  border-style: solid;
  border-color: #333;
  background-color: rgba(0,0,0,0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
  transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

.bt-menu.bt-menu-open {
  height: 100%;
  background-color: rgba(10, 110, 149, 0.96);
  -webkit-transition: border-width 0.3s, background-color 0.3s;
  transition: border-width 0.3s, background-color 0.3s;
  z-index: 9999;
}

.bt-overlay {
  width: 100%;
}

.bt-menu-open .bt-overlay {
  height: 100%;
}

.bt-menu-trigger {
  cursor: pointer;
    display: block;
    height: 50px;
    left: 93%;
    position: fixed;
    top: 30px;
    width: 50px;
    z-index: 999999999
}

.bt-menu-trigger span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  margin-top: -2px;
  background-color: #47a3da;
  font-size: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.bt-menu-open .bt-menu-trigger span {
  background-color: transparent;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #47a3da;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.bt-menu-trigger span:before {
  -webkit-transform: translateY(-250%);
  transform: translateY(-250%);
}

.bt-menu-trigger span:after {
  -webkit-transform: translateY(250%);
  transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}

.bt-menu-open .bt-menu-trigger span:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}

.bt-menu ul {
  backface-visibility: hidden;
    left: 45%;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 30%;
}

.bt-menu ul li,
.bt-menu ul li a {
  display: block;
  width: 100%;
}

.bt-menu ul li {
  padding: 20px 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
  transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
}

.bt-menu ul li:first-child { 
  -webkit-transform: translate3d(-100%,200%,0);
  transform: translate3d(-100%,200%,0);
}

.bt-menu ul li:nth-child(2) { 
  -webkit-transform: translate3d(-100%,100%,0);
  transform: translate3d(-100%,100%,0);
}

.bt-menu ul li:nth-child(3) { 
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.bt-menu ul li:nth-child(4) { 
  -webkit-transform: translate3d(-100%,-100%,0);
  transform: translate3d(-100%,-100%,0);
}

.bt-menu ul li:nth-child(5) { 
  -webkit-transform: translate3d(-100%,-200%,0);
  transform: translate3d(-100%,-200%,0);
}

.bt-menu.bt-menu-open ul li {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.bt-menu ul li a {
  display: block;
  outline: none;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}

.bt-menu ul li a:before {
  
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.bt-menu ul li a:hover,
.bt-menu ul li a:focus:before  {
  text-decoration: underline
}

@media screen and (max-width: 425px) {

  .bt-menu-trigger {
    left: 79%;
  }
  .bt-menu ul {
    left: 40%
  }
  .title {
    font-size: 3em
  }
  
}

@media screen and (max-height: 31.125em) {
  .bt-menu ul li a:before {
    font-size: 32px;
  }
}

.loader {
  height: 100%;
    left: 50%;
    margin: 0;
    position: relative;
    top: 9%;
    width: 100%;
}

.loader > div {
  width: 6px;
  height: 20px;
  position: absolute;
  left: -10px;
  bottom: 15px;
  border-radius: 5px;
  transform-origin: 10px 35px;
  transform: rotate(0deg);
  animation: loader 0.8s infinite;
}
.loader > div:nth-child(2) {
  transform: rotate(45deg);
  animation-delay: 0.1s;
}
.loader > div:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: 0.2s;
}
.loader > div:nth-child(4) {
  transform: rotate(135deg);
  animation-delay: 0.3s;
}
.loader > div:nth-child(5) {
  transform: rotate(180deg);
  animation-delay: 0.4s;
}
.loader > div:nth-child(6) {
  transform: rotate(225deg);
  animation-delay: 0.5s;
}
.loader > div:nth-child(7) {
  transform: rotate(270deg);
  animation-delay: 0.6s;
}
.loader > div:nth-child(8) {
  transform: rotate(315deg);
  animation-delay: 0.7s;
}

@keyframes loader {
  0% {
    background: transparent;
    left: -10px;
    transform-origin: 10px 35px;
  }
  30% {
    background: #333;
  }
  100% {
    background: transparent;
    left: 10px;
    transform-origin: -10px 35px;
  }
}
.one {
  background: url("../images/feature-one.png");
}

.two {
  background: url("../images/feature-two.png");
}

.three {
  background: url("../images/feature-three.png");
}

.four {
  background: url("../images/feature-four.png");
}

.five {
  background: url("../images/feature-five.png");
}

.content-item-top {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 300px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
  width: 560px;
}
.content-item-bottom {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 300px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
  width: 375px;
}
.content-item-top .overlay, .content-item-bottom .overlay {
  border-left: 100px solid transparent;
  bottom: 0;
  height: 0;
  opacity: .95;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 0;
}
.content-item-top:hover .overlay, .content-item-bottom:hover .overlay {
  border-bottom: 800px solid #111;
  border-left: 886px solid transparent;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.content-item-top .corner-overlay-content, .content-item-bottom .corner-overlay-content {
  bottom: 15px;
  color: #fff;
  position: absolute;
  right: 15px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.content-item-top:hover .corner-overlay-content, .content-item-bottom:hover .corner-overlay-content {
  opacity: 0;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.content-item-top .overlay-content, .content-item-bottom .overlay-content {
  bottom: 0;
  color: #EEEEEE;
  left: 0;
  opacity: 0;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 0;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.content-item-top .overlay-content h2, .content-item-bottom .overlay-content h2 {
  border-bottom: 1px solid #333;
  padding: 0 0 12px;
}
.content-item-top:hover .overlay-content, .content-item-bottom:hover .overlay-content {
  opacity: 1;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}


.tab {
  padding-top: 10px;
  min-height: 600px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  background: #fff;
  margin: 0 auto;
  line-height: 1.5;
  font-weight: 300;
  color: #888;
  -webkit-font-smoothing: antialiased;
}

.tabs {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
  padding: 0;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
}

.tabs li {
  float: left;
    width: 33.33%;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.tabs a {
  background-position: 200px 121px;
  color: #fff;
  font-weight: 500;
  display: block;
  letter-spacing: 0;
  outline: none;
  padding: 3em 0;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tabs_item {
  display: none;
  padding: 30px 0;
}
.tabs_item h4 {
  font-weight: bold;
  color: #3c76bd;
  font-size: 16px;
  margin: 0
}
.tabs_item img {
  float: left;
  margin-right: 15px;
}
.tabs_item:first-child {
  display: block;
}

.tab_content {
  padding: 40px 80px;
  background: #F7F7F7;
  font-family: arial;
}

.current a {
  background-image: url("../images/arrow.png");
  background-position: 204px 72px;
    background-repeat: no-repeat;
}

.fb {
  background: #3c5a98;
}

.t {
  background: #74dbf1
}

.yt {
  background: #c74936
}

.fb:hover, .yt:hover, .t:hover {
  opacity: 0.8
}

.scroll-box {
  background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    max-height: 500px;
    overflow: scroll;
    padding: 30px;
    width: 800px;
  
}

.posted {
  float: left;
  width: 621px;
}

.posted span {
  font-size: 13px;
}

.posted p {
  margin: 10px 0;
  font-size: 14px
}

.posted-wrapper {
  border-bottom: 1px solid #EEEEEE;
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.enroll-callout {
  background: url('../images/enroll-bg.png') no-repeat 0 0;
  padding: 3.2em 8em 4em;
}

.enroll-callout input {
  width: 250px;
}

.enroll-callout h2 {
  color: #FFFFFF;
    font-size: 2.5em;
    font-weight: normal;
    margin: 1em 0 2em;
    text-align: center;
}

.enroll-form {
  margin: 0 0 3em;
    text-align: center;
}

.news {
  padding: 0 10em;
  text-align: center;
}

.news-item {
  border-style: none solid solid;
  border-color: #eee;
    border-width: 0 1px 1px;
    margin: 0 -1px 0 0;
    padding: 2em;
    text-align: left;
}

.news a.three-col:hover {
  background: #eee;
}

.date {
  font-size: 3em;
}

.month {
  font-size: 0.9em;
}

.news-item h4 {
  font-size: 1.4em;
    text-transform: uppercase;
}

.news-item p {
  
}

.three-col {
  float: left;
  width: 33.33%;
  cursor: pointer;
  color: #222
}

.arrw-up {
  background: url('../images/arrw-up.png') no-repeat;
  margin: 0 8px;
    padding: 0 9px;
    width: 20px;
}

.arrw-right {
  background: url('../images/arrw-right.png') no-repeat;
  margin: 0 8px;
    padding: 0 9px;
    width: 20px;
}

.footer-nav > ul > li > a {
  border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    color: #333333;
    padding: 2.5em 0;
}

.footer-nav > ul > li > a:hover {
  background: #eee;
}

.footer-nav > ul > li > a.lne {
  border-right: 1px solid #ddd;
}

.footer-nav > ul > li > a.empty {
  background: #efefef;
}

