<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bookmarks</title>
  <link rel="stylesheet" href="mainStyle.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app='bookMark' ng-controller='MainController'>
  <div ng-repeat="link in links | orderBy: '-likes'">
    <span class="like" ng-click="plusLike(link)">+</span>
    <a ng-show="link.url" href="{{link.url}}">
      {{link.title}}
    </a>
    <span ng-hide="link.url">{{link.title}}</span>
     - likes: {{link.likes}}
  </div>
  <form ng-submit="addLink()">
    <input type="text" placeholder="Title" ng-model="title"></input>
    <input type="text"  placeholder="Url" ng-model="url"></input>
    <button type="submit">Add</button>
  </form>
</body>
</html>