<h1>Welcome#index</h1>

<table id="board">
  <tr>
    <td id="A1">1</td>
    <td id="A2">2</td>
    <td id="A3">3</td>
  </tr>
  <tr>
    <td id="B1">4</td>
    <td id="B2">5</td>
    <td id="B3">6</td>
  </tr>
  <tr>
    <td id="C1">7</td>
    <td id="C2">8</td>
    <td id="C3">9</td>
  </tr>
</table>
