<!DOCTYPE html>
<html ng-app='store'>
<head>
  <title>Angular gem store</title>
  <!-- jQuery & Bootstrap -->
  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body ng-controller='StoreController as store'>
  <div class='container'>
    Filter: <input type="text" ng-model='searchText'>
    <ul ng-repeat="product in store.products | filter:searchText | orderBy:'price'">
      <li ng-hide='product.soldOut'>
        <product-info></product-info>
        <!-- Images Gallery-->
        <product-gallery></product-gallery>
        <!-- Navigation tabs -->
        <product-panels>
        </product-panels>
        <!-- Add to cart -->
        <button ng-show='product.canPurchase'>Add to cart</button>
      </li>
    </ul>
  </div>
  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script type="text/javascript" src='app.js'></script>
</body>
</html>
